@model WebSite.Models.Message.CreateEditMessageViewModel
@using WebSite.Models.MessageBoard

@{
    ViewData["Title"] = "Create";

    var mbId = (int?)ViewData["mbId"];
}

<h1>Create</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.IsImportant) <input class="form-check-input" asp-for="IsImportant" />
                </label>
            </div>
            @Html.DisplayNameFor(model => model.MessageBoardId)
            @Html.DropDownListFor(model => model.MessageBoardId, new SelectList(
                Model.MessageBoards,
                nameof(MessageBoardViewModel.Id),
                nameof(MessageBoardViewModel.Name),
                Model.MessageBoards.FirstOrDefault(mb => mb.Id == Model.MessageBoardId)
            ))
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (mbId.HasValue)
    {
        <a asp-action="Index" asp-route-messageBoardId="@mbId">Back to List</a>
    }
    else
    {
        @if (Model.MessageBoardId != 0)
        {
            <a asp-action="Index" asp-controller="MessageBoards">Back to List</a>
        }
        else
        {
            <a asp-action="Index">Back to List</a>
        }
    }
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
